.recorder-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-grow: 1;
  min-height: 0;
}

.recorder-container audio {
  width: 100%;
}

.recorder-container .flexGrowContainer {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.recorder-container .flexGrowContainer .fixContainer {
  height: 100%;
  width: 100%;
}

.recorder-container .flexGrowContainer .textBox {
  position: relative;
  height: 50%;
  overflow-y: auto;
  color: #fff;
  background-color: #ffa726;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
}

.recorder-container .flexGrowContainer .textBox .instruction {
  position: absolute;
  top: -0.2rem;
  text-align: center;
  left: 0;
  width: 100%;
  font-size: 0.85rem;
  font-weight: 700;
  color: #fafafa;
}
.recorder-container .flexGrowContainer .textBox p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

.recorder-container .flexGrowContainer .graph {
  height: 50%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 2rem;
  overflow-y: auto;
  background-color:#ab47bc;
}

.recorder-container .flexGrowContainer .graph .messagesContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.recorder-container .flexGrowContainer .graph .messagesContainer .text {
  font-size: 1.2rem;
  color: #fafafa;
}

.recorder-container .buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .recorder-container .buttons-container {
    justify-content: center;
  }
  .recorder-container .buttons-container button {
    margin: 0 1rem;
  }
}

.audioControlContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.errorMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorMessageContainer .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #e53935;
  background-color: #ffffff;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.errorMessageContainer span {
  margin-top: 1rem;
}

.recordingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recordingContainer .text {
  margin: 0;
}

.recordingContainer img {
  height: 6rem;
  width: 18rem;
}

.recorder-container
  .flexGrowContainer
  .graph
  .messagesContainer
  .timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recorder-container
  .flexGrowContainer
  .graph
  .messagesContainer.timerContainer
  .text {
  color: #fafafa;
}

.recorder-container
  .flexGrowContainer
  .graph
  .messagesContainer
  .timerContainer
  .countDown {
  font-size: 5rem;
  color: #fafafa;
  margin-top: 0.5rem;
}
