.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 5rem;
  padding: 0;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #43a047;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button:disabled {
  opacity: 0.2;
  box-shadow: none;
  cursor: not-allowed;
}

.button:not([disabled]):hover {
  background-color: #2e7d32;
}

.button:not([disabled]):active {
  background-color: #2e7d32;
}

.buttonContainer span {
  margin-top: 0.5rem;
  text-align: center;
  color: #212121;
  font-size: 12px;
  font-weight: 500;
}
